<p> Top Header Matrix</p>
<table border="1"> 
    <thead>
        <tr>
            <th> Dimension</th>
            <th> X/Width</th>
            <th> Y/Height</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Top Box X Interval</td>
            <td><input type="number" [(ngModel)]=headerMatrixModel.topBoxIntervalX/></td>
            <td> </td>
        </tr>
        <tr>
            <td>Box Start Point</td>
            <td><input type="number" [(ngModel)]=headerMatrixModel.topBoxStartPoint.x></td>
            <td><input type="number"  [(ngModel)]=headerMatrixModel.topBoxStartPoint.y></td>
        </tr>
        <tr>
            <td>Box size </td>
            <td><input type="number"  [(ngModel)]=headerMatrixModel.topBoxSize.x></td>
            <td><input type="number"  [(ngModel)]=headerMatrixModel.topBoxSize.y></td>
        </tr>
    </tbody>
</table>
<br>
<hr>
<table border="1">
    <thead>
        <tr> 
            <th>ID</th>
            <th>Name</th>
            <th>Display Name</th>
            <th>Icon</th>
            <th>precedingPaddingX</th>
            <th>Operation</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let box of headerBoxList">
            <td>{{box.ID}}</td>
            <td>{{box.name}}</td>
            <td>{{box.display}}</td>
            <td>{{box.icon}}</td>
            <td> {{box.precedingPaddingX}}</td>
            <td>
                <button (onclick)= addline()> + </button>
                <span> - </span>
            </td>

        </tr>
    </tbody>

</table>
headerMatrixModel.topBoxIntervalX value {{headerMatrixModel.topBoxIntervalX}}
<hr>
<app-draw-d3 [headerBoxs]=headerBoxList></app-draw-d3>