<p> Top Header Matrix</p>
<table> 
    <tr>
        <td> Dimension</td>
        <td> X/Width</td>
        <td> Y/Height</td>
    </tr>
    <tr>
        <td>Top Box X Interval</td>
        <td><input type="number" [(ngModel)]=headerMatrixModel.topBoxIntervalX/></td>
        <td> </td>
    </tr>
    <tr>
        <td>Box Start Point</td>
        <td><input type="number" [(ngModel)]=headerMatrixModel.topBoxStartPoint.x></td>
        <td><input type="number"  [(ngModel)]=headerMatrixModel.topBoxStartPoint.y></td>
    </tr>
    <tr>
            <td>Box size </td>
            <td><input type="number" name="box-size-w" id="box-size-w" [(ngModel)]=headerMatrixModel.topBoxSize.x></td>
            <td><input type="number" name="box-size-h" id="box-size-g" [(ngModel)]=headerMatrixModel.topBoxSize.y></td>
        </tr>
    
</table>
<br>
<hr>
<div *ngFor="let box of headerBoxList">
    {{box.ID}} {{box.name}} {{box.display}} {{box.icon}} {{box.precedingPaddingX}}
</div>
headerMatrixModel.topBoxIntervalX value {{headerMatrixModel.topBoxIntervalX}}
<hr>
<app-draw-d3 [headerBoxs]=headerBoxList></app-draw-d3>